<ion-header>
  <ion-toolbar>
    <ion-title>Combos</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/churrasco.jpeg" />
      </ion-avatar>
      <ion-label>
        <h2>Promo 1</h2>
        <h3>Churrasco italiano</h3>
        <p>Oferta 2x1 "$6000"</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/churrasco.jpeg" />
      </ion-avatar>
      <ion-label>
        <h2>Promo 1</h2>
        <h3>Churrasco italiano</h3>
        <p>Oferta 2x1 "$6000"</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/churrasco.jpeg" />
      </ion-avatar>
      <ion-label>
        <h2>Promo 1</h2>
        <h3>Churrasco italiano</h3>
        <p>Oferta 2x1 "$6000"</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/churrasco.jpeg" />
      </ion-avatar>
      <ion-label>
        <h2>Promo 1</h2>
        <h3>Churrasco italiano</h3>
        <p>Oferta 2x1 "$6000"</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/churrasco.jpeg" />
      </ion-avatar>
      <ion-label>
        <h2>Promo 1</h2>
        <h3>Churrasco italiano</h3>
        <p>Oferta 2x1 "$6000"</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/completo.jpeg" />
      </ion-avatar>
      <ion-label>
        <h2>Promo 1</h2>
        <h3>Churrasco italiano</h3>
        <p>Oferta 2x1 "$6000"</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-header>


